<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>번호</th>
                <th>Title</th>
                <th>Content</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}"></td>
                <td th:text="${post.title}"></td>
                <td th:text="${post.content}"></td>
                <td>
                    <form th:action="@{/posts/{postid}/delete (postid=${post.id}) }" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button id="delete-btn">삭제</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <p>
            <a class="btn btn-lg btn-dark" href="/posts/new">게시글 등록</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>